<?xml version="1.0" encoding="UTF-8"?>
<web-app version="4.0" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd">
    <servlet>
        <servlet-name>LaddaUppBildServlet</servlet-name>
        <servlet-class>servlet.LaddaUppBildServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>viewbild</servlet-name>
        <servlet-class>viewbild</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>sokBild</servlet-name>
        <servlet-class>sok.BildVisarController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BildDownloader</servlet-name>
        <servlet-class>sok.BildDownloader</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LaddaUppBildServlet</servlet-name>
        <url-pattern>/LaddaUppBildServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>viewbild</servlet-name>
        <url-pattern>/viewbild</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>sokBild</servlet-name>
        <url-pattern>/sokBild</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BildDownloader</servlet-name>
        <url-pattern>/BildDownloader</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
